<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182366751349-b8er02rc6r0e3872qrdr94d77f0djn1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182366751349-b8er02rc6r0e3872qrdr94d77f0djn1p</string>
	<key>API_KEY</key>
	<string>AIzaSyA-qfhKGL3fB5XtXfuSVRGwVrcF-NsHBSs</string>
	<key>GCM_SENDER_ID</key>
	<string>182366751349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vendi.MPSD-L1</string>
	<key>PROJECT_ID</key>
	<string>mpsd-l1</string>
	<key>STORAGE_BUCKET</key>
	<string>mpsd-l1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182366751349:ios:ae64c49d28bdc1c9b4063c</string>
</dict>
</plist>